__pycache__/
sensitive_info.txt

# Virtual environment
venv/

# Django cache & migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# IDE / Editor
.vscode/

# Environment
.env
.env.*
!.env.example